8_jsx-automata-build/node_modules
9_effects/node_modules
10-instruments-2/node_modules
11-posts-comments/node_modules
12-posts-comments-class/node_modules
13-form-validation/node_modules
14-recept-app/node_modules